@model IEnumerable<TinyShop.Models.ProductGroup>

@{
    ViewData["Title"] = "Групи товарів";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Групи товарів</h4>

<p>
    <a asp-action="Create">Створити нову групу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor( modelItem => item.Name )  (@item.Products.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Докладніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
