@model TinyShop.Models.Product
@using TinyShop.Utils;

@{
    ViewData[ "Title" ] = "Deletion of the product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Are you sure you want to delete the product?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Name )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Name )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Price )
        </dt>
        <dd class="col-sm-10">
            @FormattingUtils.FormatPrice( Model.Price.Value )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.ProductGroup )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.ProductGroup.Name )
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to the list</a>
    </form>
</div>
