@model TinyShop.Models.Product
@using TinyShop.Infrastructure;

@{
    ViewData[ "Title" ] = "Товар";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Price )
        </dt>
        <dd class="col-sm-10">
            @FormattingUtils.FormatPrice( Model.Price.Value )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.ProductGroup )
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink( Model.ProductGroup.Name, "Index", "Home", new { productGroupId = Model.ProductGroup.Id } )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Description )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Description )
        </dd>
    </dl>
    @foreach ( var currentImage in Model.DescImages )
    {
        <a href="@Url.Action( "GetFileById", "Files", new { id = currentImage.Id } )">
            <img src="@Url.Action( "GetFileById", "Files", new { id = currentImage.Id } )" width="150" class="img-thumbnail img-fluid">
        </a>
    }
    <br />
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-sm mb-2 mt-2" data-toggle="modal"
            data-target="#cartModal" data-product-id="@Model.Id"
            onclick="addToCartRequest(this)">
        Додати в кошик
    </button>

    <hr />
</div>
<div class="mt-3">
    <a asp-controller="Home" asp-action="Index">Назад до списку товарів</a>
</div>

<partial name="_CartPartial" />

@section Scripts {
    <script src="~/js/cart.js"></script>
}