@model TinyShop.Models.Product
@using TinyShop.Utils;

@{
    ViewData[ "Title" ] = "Опис товару";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Опис товару</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Name )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Name )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Price )
        </dt>
        <dd class="col-sm-10">
            @FormattingUtils.FormatPrice( Model.Price.Value )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.ProductGroup )
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(Model.ProductGroup.Name, "Index", "Home", new { productGroupId = Model.ProductGroup.Id } )            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Description )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Description )
        </dd>
    </dl>
    @foreach ( var currentImage in Model.DescImages )
    {
        <a href="@Url.Action( "GetFileById", "Files", new { id = currentImage.Id } )">
            <img src="@Url.Action( "GetFileById", "Files", new { id = currentImage.Id } )" width="150" class="img-thumbnail img-fluid">
        </a>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Змінити</a> |
    <a asp-action="Index">Назад до списку</a>
</div>
