@model IEnumerable<TinyShop.Models.Product>
@using TinyShop.Infrastructure;

@{
    ViewData[ "Title" ] = "List of products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>List of products</h4>

<p>
    <a asp-action="Create">Create new product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor( model => model.Name )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Price )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.ProductGroup )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor( modelItem => item.Name )
                </td>
                <td>
                    @FormattingUtils.FormatPrice( item.Price.Value )
                </td>
                <td>
                    @Html.DisplayFor( modelItem => item.ProductGroup.Name )
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
