@using TinyShop.Infrastructure;
@using TinyShop.Models.ViewModels;

@model Cart;

@if ( Model?.Lines.Count == 0 )
{
    <div class="alert alert-info">
        Кошик пустий
    </div>
}
else
{
    <div id="cartTable">
        <h2>Кошик</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th class="text-right">Ціна</th>
                    <th>Кількість</th>
                    <th class="text-right">Сума</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach ( var line in Model?.Lines ?? Enumerable.Empty<OrderLine>() )
                {
                    <tr>
                        <td class="text-left">@line.TheProduct.Name</td>
                        <td class="text-right">@FormattingUtils.FormatPrice( line.PackPriceSnapshot )</td>
                        <td class="text-center">
                            <div class="number">
                                <span class="minus spin-edit-pointer" data-product-id="@line.TheProduct.Id"
                                      onclick="productMinusClick(this, true)"><b>-</b></span>
                                <input class="spin-edit" type="text" value="@line.Quantity" 
                                       id="quantity-@line.TheProduct.Id" />
                                <span class="plus spin-edit-pointer" data-product-id="@line.TheProduct.Id"
                                    onclick="productPlusClick(this, true)"><b>+</b></span>
                            </div>
                        </td>
                        <td class="text-right">@FormattingUtils.FormatPrice( line.Quantity * line.PackPriceSnapshot )</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-sm btn-danger" 
                                    onclick="removeEntireLineRequest(@line.TheProduct.Id)">
                                Видалити
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-right">Всього:</td>
                    <td class="text-center">
                        @Model.ComputeTotalQuantity() @FormattingUtils.GetProductSingleOrPlural( Model.ComputeTotalQuantity() )
                    </td>
                    <td class="text-right">
                        @FormattingUtils.FormatPrice( ( Model?.ComputeTotalValue() ).Value )
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}