@page "/editproduct/{Id:int}"

@using Microsoft.AspNetCore.Routing
@using TinyShop.Data
@using TinyShop.Infrastructure
@using TinyShop.Models.ViewModels
@using TinyShop.Areas.BlazorComponents.Controls
@inject LinkGenerator LinkGenerator

<link href="css/blazorValidation.css" rel="stylesheet" />

<EditForm Model="@productVM" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Назва товару</label>
        <ValidationMessage For="@(() => productVM.ProductName)" />
        <InputText id="name" @bind-Value="productVM.ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Ціна, грн.</label>
        <ValidationMessage For="@(() => productVM.ProductPrice)" />
        <InputNumber id="price" @bind-Value="productVM.ProductPrice" class="form-control" />
    </div>    
    <div class="form-group">
        <label for="group">Група</label>
        <InputSelect id="group" @bind-Value="productVM.ProductGroupId" class="form-control">
            @foreach ( var group in productVM.ProductGroups )
            {
                <option value="@group.Id">@group.Name</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="description">Опис товару</label>
        <InputTextArea rows="5" id="description" @bind-Value="productVM.ProductDescription" class="form-control" />
    </div>

    @for( int i = 0; i < MaxImageCount; i++ )
    {
        <div class="form-group">
            <label class="control-label">Фото @(i + 1)</label>
            <InputFile class="form-control" name="photos" OnChange="PhotoInputChangeHandler" />
        </div>
    }

    @foreach ( var currentImage in productVM.DescImages ?? Enumerable.Empty<FileTag>() )
    {
        @if (currentImage.Id == 0)
        {
            <img src="data:image/bmp;base64, @(Convert.ToBase64String(currentImage.Body))"
                 width="150" class="img-thumbnail img-fluid">
        }
        else
        {
            <a href="@LinkGenerator.GetPathByAction("GetFileById", "Files", new { Id = currentImage.Id })">
                <img src="@LinkGenerator.GetPathByAction("GetFileById", "Files", new { Id = currentImage.Id })"
                    width="150" class="img-thumbnail img-fluid">
            </a>
        }
    }

    <PrettyPictureUpload />

    <div class="form-group">        
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </div>

</EditForm>

@code {
    [Inject]
    public ShopContext? Context { get; set; }

    [Inject]
    public NavigationManager? NavManager { get; set; }

    [Parameter]
    public int Id { get; set; }

    private ProductViewModel productVM;

    private const int MaxImageCount = 10;

    protected override async Task OnInitializedAsync()
    {
        productVM = new ProductViewModel();
        if (Id == 0)
        {                        
            productVM.ProductId = 0;
            productVM.ProductGroups = Context?.ProductGroups.ToList() ?? new List<ProductGroup>();
            return;
        }
        var product = await Context.Products.FindAsync( Id );
        if ( product == null )
        {
            throw new InvalidOperationException( $"Product with id {Id} not found" );
        }        
        productVM.ProductId = product.Id;
        productVM.ProductName = product.Name;
        productVM.ProductDescription = product.Description;
        productVM.ProductPrice = product.Price;
        productVM.ProductGroupId = product.ProductGroupId;
        Context.Entry( product ).Collection( p => p.DescImages ).Load();
        productVM.DescImages = product.DescImages;
        productVM.ProductGroups = Context.ProductGroups.ToList();
    }

    private bool IsNewProduct => productVM.ProductId == 0;

    private async Task HandleValidSubmit()
    {
        if( IsNewProduct )
        {
            await CreateProduct();
        }
        else
        {
            await UpdateProduct();
        }        
        NavManager?.NavigateTo( "/Products", true );
    }

    private async Task CreateProduct()
    {
        Product product = new Product
        {
            Name = productVM.ProductName,
            Description = productVM.ProductDescription,
            Price = productVM.ProductPrice,
            ProductGroupId = productVM.ProductGroupId
        };
        product.DescImages = productVM.DescImages;
        Context?.Products.Add( product );
        await Context?.SaveChangesAsync();
        productVM.ProductId = product.Id;
    }

    private async Task UpdateProduct()
    {
        var product = Context?.Products.Find( productVM.ProductId );
        if ( product == null )
        {
            throw new InvalidOperationException( $"Product with id {productVM.ProductId} not found" );
        }
        product.Name = productVM.ProductName;
        product.Description = productVM.ProductDescription;
        product.Price = productVM.ProductPrice;
        product.ProductGroupId = productVM.ProductGroupId;
        product.DescImages = productVM.DescImages;
        await Context?.SaveChangesAsync();
    }

    private async void PhotoInputChangeHandler(InputFileChangeEventArgs e)
    {
        var fileTag = new FileTag();
        fileTag.Name = e.File.Name;
        fileTag.Ext = IOUtils.GetExtensionWithoutDot( e.File.Name );
        fileTag.Body = await e.File.OpenReadStream(_MaxFileSize).ToByteArrayAsync();
        fileTag.Length = e.File.OpenReadStream(_MaxFileSize).Length;

        _photoInputChangedCount++;
        if(IsNewProduct == false)
        {            
            if(_photoInputChangedCount == 1)
            {
                productVM.DescImages?.Clear();
            }
        }
        productVM.DescImages ??= new List<FileTag>();
        productVM.DescImages.Add( fileTag );
    }
    
    private int _photoInputChangedCount = 0;
    private const int _MaxFileSize = 1024 * 1024 * 9;
}