@model IEnumerable<TinyShop.Models.Order>
@using TinyShop.Infrastructure;

@{
    ViewData[ "Title" ] = "Список замовлень";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Список замовлень</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor( model => model.Id )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.OrderDateTime )
            </th>
            <th>
                @Html.DisplayNameFor( model => model.TheCustomer.FullName )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor( modelItem => item.Id )
                </td>
                <td>
                    @FormattingUtils.FormatDateTime( item.OrderDateTime )
                </td>
                <td>
                    @Html.DisplayFor( modelItem => item.TheCustomer.FullName )
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Докладніше</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>