@model HomeViewModel
@using TinyShop.Infrastructure;
@using TinyShop.Models.ViewModels;

@{
    ViewData[ "Title" ] = GlobalOptions.CatalogTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Model.CatalogHeader</h4>

<div class="container-table" id="contable">
    <div class="row vertical-middle">
        <div class="col-sm-3 col-md-3 col-lg-3">

            <ul class="list-group mb-2">
                @foreach ( var item in Model.ProductGroups )
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @Html.ActionLink( item.Name, "Index", new { productGroupId = item.Id } )
                        <span class="badge badge-primary badge-pill">@item.ProductCount</span>
                    </li>
                }
            </ul>

        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 text-center">

            <div class="card-columns">

                @foreach ( var product in Model.Products )
                {
                 <div class="card" style="width: 16rem;">
                    <a href="@Url.Action( "DetailsReadOnly", "Products", new { id = product.Id } )">
                        <img class="card-img-top product-cover" src="@Url.Action( "GetProductMainImage", "Files", new { productId = product.Id } )">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@FormattingUtils.FormatPrice( product.Price.Value )</h6>
                        </div>
                    </a>
                        <form id="@product.Id" asp-controller="Cart" asp-action="Index" method="post">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />                                
                            <button type="submit" class="btn btn-success btn-sm mb-2">
                                Додати в кошик
                            </button>                            
                        </form>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success btn-sm mb-2" data-toggle="modal" 
                                data-target="#cartModal" data-product-id="@product.Id"
                                onclick="addToCartRequest(this)">
                            Додати в кошик
                        </button>
                 </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" 
        aria-labelledby="cartModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalTitle">Кошик</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Товар доданий в кошик
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Продовжити покупки</button>
                <button type="button" class="btn btn-primary" onclick="goToOrder()">Оформити замовлення</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function addToCartRequest( element ) {
            var productId = $( element ).data( "product-id" );
            $.ajax( {
                type: "GET",
                url: "/Cart/AddToCart/" + productId,
                data: null,
                success: getCartComponent(),
            } );
        }

        function getCartComponent() {
            var _url = '@Url.Action( "GetCartComponent", "Cart" )';
            $.ajax({
                type: "GET",
                url: _url,
                data: null,
                success: function (result) {
                    $("#cart").html(result);
                },
            });
        }

        function goToOrder() {
            window.location.href = "/Cart/Index?returnurl=" + "@ViewContext.HttpContext.Request.PathAndQuery()";
        }
    </script>
}