@model TinyShop.Models.HomeViewModel
@using TinyShop.Utils;

@{
    ViewData[ "Title" ] = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Model.CatalogHeader</h4>

<div class="container-table" id="contable">
    <div class="row vertical-middle">
        <div class="col-sm-3 col-md-3 col-lg-3">

            <ul class="list-group mb-2">
                @foreach ( var item in Model.ProductGroups )
                {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @Html.ActionLink( item.Name, "Index", new { productGroupId = item.Id } )
                    <span class="badge badge-primary badge-pill">@item.Products.Count</span>
                </li>
                }
            </ul>

        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 text-center">

            <div class="card-columns">

                @foreach ( var item in Model.Products )
                {

                 <div class="card" style="width: 16rem;">
                    <a href="@Url.Action( "DetailsReadOnly", "Products", new { id = item.Id } )">
                        <img class="card-img-top product-cover" src="@Url.Action( "GetProductMainImage", "Files", new { productId = item.Id } )">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@FormattingUtils.FormatPrice( item.Price.Value )</h6>
                        </div>
                    </a>
                 </div>

                }
            </div>
        </div>
    </div>
</div>