@model HomeViewModel
@using TinyShop.Infrastructure;

@{
    ViewData[ "Title" ] = GlobalOptions.CatalogTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-table" id="contable">
    <div class="row vertical-middle">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <vc:navigation-menu />
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 text-center">
            <div class="card-columns">
                @foreach ( var product in Model.Products )
                {
                    <div class="card" style="width: 16rem;">
                        <div class="position-absolute top-0 text-light w-80" style="background-color: rgba(0, 0, 0, 0.3)">
                            <p class="p-1 m-0">@FormattingUtils.FormatUnitPrice(product)</p>
                        </div>
                        <a href="@Url.Action( "DetailsReadOnly", "Products", new { id = product.Id } )">
                            <img class="card-img-top product-cover mt-2" src="@Url.Action( "GetProductMainImage", "Files", new { productId = product.Id } )">
                            <div class="card-body mb-0">
                                <h5 class="card-title">@product.Name</h5>
                            </div>
                        </a>
                        <p class="m-0">
                            <strong>
                                @FormattingUtils.FormatPackPrice(product)
                            </strong>
                        </p>                            
                        @if(product.WholesalePriceAvailable)
                        {
                            <p class="card-text small mt-0">
                                Доступна оптова ціна
                            </p>
                        }                                       
                        else
                        {
                            <p class="card-text small mt-0">
                                &nbsp;     
                            </p>
                        }             
                        <div class="number">
                            <span class="minus spin-edit-pointer" onclick="productMinusClick(this, false)"><b>-</b></span>
                            <input class="spin-edit" type="text" value="1" id="quantity-@product.Id" />
                            <span class="plus spin-edit-pointer" onclick="productPlusClick(this, false)"><b>+</b></span>
                        </div>
                        <!-- Button trigger modal -->
                         <button type="button" class="btn btn-success btn-sm mb-2" data-toggle="modal" 
                                data-target="#cartModal" 
                                onclick="addToCartRequest(@product.Id, $('#quantity-@product.Id').val())">
                            Додати в кошик
                         </button>
                    </div>
                }
            </div>
            <div page-model="@Model.PagingInfo" page-action="Index"
                 page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary" 
                 page-url-productGroupId="@Model.CurrentProductGroupId!"
                 class="btn-group pull-right m-1">
            </div>
        </div>
    </div>
</div>

<partial name="_CartPartial" />

@section Scripts {
    <script src="~/js/cart.js"></script>
    <script src="~/js/spinEditProduct.js"></script>
}