@model HomeViewModel
@using TinyShop.Infrastructure;
@using TinyShop.Models.ViewModels;

@{
    ViewData[ "Title" ] = GlobalOptions.CatalogTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-table" id="contable">
    <div class="row vertical-middle">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <vc:navigation-menu />
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 text-center">
            <div class="card-columns">
                @foreach ( var product in Model.Products )
                {
                 <div class="card" style="width: 16rem;">
                    <a href="@Url.Action( "DetailsReadOnly", "Products", new { id = product.Id } )">
                        <img class="card-img-top product-cover" src="@Url.Action( "GetProductMainImage", "Files", new { productId = product.Id } )">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@FormattingUtils.FormatPrice( product.Price.Value )</h6>
                        </div>
                    </a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success btn-sm mb-2" data-toggle="modal" 
                            data-target="#cartModal" data-product-id="@product.Id"
                            onclick="addToCartRequest(this)">
                        Додати в кошик
                    </button>
                 </div>
                }
            </div>
            <div page-model="@Model.PagingInfo" page-action="Index"
                 page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark"
                 page-class-selected="btn-primary" 
                 page-url-productGroupId="@Model.CurrentProductGroupId!"
                 class="btn-group pull-right m-1">
            </div>
        </div>
    </div>
</div>

<partial name="_CartPartial" />

@section Scripts {
    <script src="~/js/cart.js"></script>
}